<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<link rel="stylesheet" href="./css/index.css" />
<link rel="stylesheet" href="./css/media.css">
<title>记事本</title>
</head>
<body> 
<!-- 主体区域 -->
<section id="app">
  <!-- 输入框 -->

  <div id="input-container" class="draggable">
  <div class="drag-handle">Drag</div>
    <header class="header">
      <div class="drag-handle"></div> <!-- 拖动控件 -->
      <input v-model="todoName" placeholder="Title" class="new-todo" />
      <input v-model="todoFrom" placeholder="From" class="new-todo" style="width: 40%"/>
      <input v-model="todoDes" placeholder="Description" class="new-todo" >
      <button @click="add" class="add">Add</button>
    </header>
  </div>
  <!-- 列表区域 -->
  <div id="list-container" class="draggable">
    <div class="drag-handle">Drag</div> <!-- 拖动手柄 -->
    <section class="main">
      <div class="drag-handle"></div> <!-- 拖动控件 -->
      <ul class="todo-list">
        <li class="todo" v-for="(item, index) in list" :key="item.id">
          <div class="view">
            <span class="index">{{ index + 1 }}.</span> <label><strong>{{ item.name }}</strong> <br> {{ item.taskf }} <br> {{ item.desc }}</label>
            <button @click="del(item.id)" class="destroy"></button>
          </div>
        </li>
      </ul>
    </section>
  </div>
</section>

<!-- 底部 -->
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.24.3/vuedraggable.umd.min.js"></script>

<script>
  // 添加功能
  // 1. 通过 v-model 绑定 输入框 → 实时获取表单元素的内容
  // 2. 点击按钮，进行新增，往数组最前面加 unshift
  const app = new Vue({
    el: '#app',
    data: {
      todoName: '',
      list: [
        { id: 1, name: 'Sample Task' , taskf:'From sample person', desc:'BlahBlah'},
        // { id: 2, name: '跳绳200个' },
        // { id: 3, name: '游泳100米' },
      ]
    },
    methods: {
      del (id) {
        // console.log(id) => filter 保留所有不等于该 id 的项
        this.list = this.list.filter(item => item.id !== id)
      },
      add () {
        if (this.todoName.trim() === '') {
          alert('请输入任务名称')
          return
        }
        this.list.unshift({
          id: +new Date(),
          name: this.todoName,
          taskf: ' From ' + this.todoFrom,
          desc: '[[' + this.todoDes + ']]'
        })
        this.todoName = ''
        this.todoDes = ''
        this.todoFrom = ''

      },
      clear () {
        this.list = []
      }
    }
  })

</script>

<script src="./js/drag.js"></script>
</body>
</html>
